<html>
<head> 
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <title>HomeChef</title>
	  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body >

	<br/><br/>
	<div class="container">
	  <div class="alert alert-info" role="alert" >
	  <h1> Sorry, page not found.</h1>
	  <br/>
	  <br/>
	  <br/>
	  <a href='' onClick="window.history.back();"> go back </a>
	  </div>
	</div> 
</body>
</html>