<div>
  <h2 class="page-heading">
    <span class="page-heading-title2">Order Details</span>
  </h2> 
  <div class="row">  
    <div class="col-md-12">      
      <table  class="table table-bordered table-striped table-hover" >
        <tr>                 
          <td >Dates</td>
          <td>
            <span>Ordered On: </span>{{ formatDate(orderDetails.orderedon) | date:'EEE, MMM dd yyyy h:mm a'}}
            <br/>
            <span>Completed On: </span>{{orderDetails.completedon || ""}}
          </td>
        </tr>
        <tr>
          <td >Order </td>
          <td>
            <span>#</span>{{orderDetails.orderno}}<span><br />
            By </span>{{orderDetails.foodiename}}<br />
            {{orderDetails.foodie.mobile}}
          </td>
        </tr>
        <tr>
          <td >Dishes Ordered</td>
          <td >
            <div ng-repeat="dish in orderDetails.dishes track by $index" >
              {{dish.name}} (Qty: {{dish.servingquantity}}) 
              <br>
              by {{dish.chefname || ""}}
               
            </div>
          </td> 
        </tr>
        <tr>
          <td>Status</td>
          <td>          
            <select class="form-control" ng-model="orderDetails.status">   
              <option value="Just Ordered">Just Ordered</option>
              <option value="Confirmed">Confirmed</option>
              <option value="In-Process">In-Process</option>
              <option value="Delivered">Delivered</option>
              <option value="Received">Received</option>
              <option value="Canceled">Canceled</option>
            </select>
          </td>  
        </tr>
        <tr>
          <td>Pick-up Time</td>
          <td>
            <div ng-repeat="dish in orderDetails.dishes track by $index" >
              {{dish.pickupdate}} , {{dish.pickuptime}}
            </div> 
          </td> 
        </tr>
        <tr>
          <td >Delivery Time </td>
          <td>
            <div ng-repeat="dish in orderDetails.dishes track by $index" >
              {{dish.deliverydate}} , {{dish.deliverytime}}
            </div>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>
            <div ng-repeat="dish in orderDetails.dishes track by $index" >
              {{dish.price}} - (Discount: {{dish.discount}} = {{getDishDiscount(dish)}} )
            </div>
            Total: {{orderDetails.totalprice}} <br/>
            Delivery Charges: {{orderDetails.deliverycharges}} <br/>
            Grand Total Rs.{{ getDishTotal(orderDetails.totalprice, orderDetails.deliverycharges)}}
            <br/>
            <span>Via COD</span>                    
          </td>
        </tr>
        <tr>
          <td>Payment Status</td>
          <td>
            
             <select class="form-control" ng-model="orderDetails.action">   
              <option value="Unpaid">Unpaid</option>
              <option value="HC Paid">HC Paid</option>
              <option value="Delivery Partner">Delivery Partner</option>
              <option value="Accounts">Accounts</option>
            </select>
          </td> 
        </tr>
        <tr>
          <td colspan="2">
           <a ng-href="" class="btn btn-primary " ng-click="updateOrderStatus()" >Update</a>
         </td>
        </tr>                  
      </table>
       
    </div>
  </div> 

  <h2 class="page-heading">
    <span class="page-heading-title2">Foodie/Customer Details</span>
  </h2> 
  <div class="row">  
    <div class="col-md-12">      
      <table  class="table table-bordered table-striped table-hover" >

        <tr>                 
          <td >Name:</td>
          <td>{{orderDetails.foodie.username}}</td>          
        </tr>

        <tr>                 
          <td >Phone:</td>
          <td>{{orderDetails.foodie.mobile}}</td>
        </tr>

         <tr>                 
          <td >Email Address:</td>
          <td>{{orderDetails.foodie.email}}</td>
        </tr>

         <tr>                 
          <td>Street Address:</td>
          <td>{{orderDetails.deliveryaddress.address}}</td>
        </tr>

         <tr>                 
          <td>Delivery Zone:</td>
          <td>{{orderDetails.deliveryaddress.zone}}</td>
        </tr>

         <tr>                 
          <td >Nearest Landmark:</td>
          <td>{{orderDetails.deliveryaddress.landmark}}</td>
        </tr>

        <tr>                 
          <td >City:</td>
          <td>{{orderDetails.deliveryaddress.city}}</td>
        </tr>

        <tr>                 
          <td colspan="2"><strong>Alternate Address:</strong></td>           
        </tr>
         <tr>                 
          <td >Mobile:</td>
          <td>{{orderDetails.alteraddress.mobile}}</td>
        </tr>
        <tr>                 
          <td >Email:</td>
          <td>{{orderDetails.alteraddress.email}}</td>
        </tr>
        <tr>                 
          <td >Other Contact:</td>
          <td>{{orderDetails.alteraddress.othercontact}}</td>
        </tr>

        <tr>                 
          <td >Address:</td>
          <td>{{orderDetails.alteraddress.address}}</td>
        </tr>
 
        <tr>                 
          <td >Landmark:</td>
          <td>{{orderDetails.alteraddress.landmark}}</td>
        </tr>

        <tr>                 
          <td >zone:</td>
          <td>{{orderDetails.alteraddress.zone}}</td>
        </tr>
      </table>
      <br/>
    </div>
  </div>


<h2 class="page-heading">
    <span class="page-heading-title2">Chef Details</span>
  </h2> 
  <div class="row" ng-repeat="chef in allChefsDetails track by $index">  
    <div class="col-md-12">      
      <table  class="table table-bordered table-striped table-hover" >

        <tr>                 
          <td >Name:</td>
          <td>{{chef.regisId.username}}</td>          
        </tr>

        <tr>                 
          <td >Business Name:</td>
          <td>{{chef.businessname}}</td>          
        </tr>

        <tr>                 
          <td >Phone:</td>
          <td>{{chef.regisId.mobile}}</td>
        </tr>

         <tr>                 
          <td >Email Address:</td>
          <td>{{chef.regisId.email}}</td>
        </tr>

         <tr>                 
          <td>Street Address:</td>
          <td>{{chef.address}}</td>
        </tr>

         <tr>                 
          <td>Delivery Zone:</td>
          <td>{{chef.region}}</td>
        </tr>

         <tr>                 
          <td >Nearest Landmark:</td>
          <td>{{chef.nearlandmark}}</td>
        </tr>

        <tr>                 
          <td >City:</td>
          <td>{{chef.city}}</td>
        </tr>

        <tr>                 
          <td colspan="2"><strong>Alternate Address:</strong></td>           
        </tr>
         <tr>                 
          <td >Alternate Name:</td>
          <td>{{chef.altername}}</td>
        </tr>
         <tr>                 
          <td >Mobile:</td>
          <td>{{chef.altermobile}}</td>
        </tr>
         
      </table>
    </div>
  </div>


</div>